#sql-table{
    width:100%;
    /*vw = view width = skaalaa fontin koon selaimen leveyden mukaan*/
    /*vh = view height = skaalaa selaminen korkeuden mukaan*/
    font-size: 1.25vw;
}
#sql-table-header{
    background: #7aabc1;
    border-bottom: 1px solid black;
}
#sql-table-entry{
}
#sql-table-delete{
    background: #fff
}
#sql-table-update{
    background: #fff
}
tr:nth-child(even){
    background: #ddd;
}
tr:nth-child(odd) {
    background: #bbb;
}